matplotlib==3.0.2
pandas==0.23.4
setuptools==32.0.0
Keras==2.2.4
opencv_python==3.4.4.19
cloudpickle==0.7.0
numpy==1.11.0
tqdm==4.28.1
mpi4py==3.0.0
gym==0.12.5
mujoco_py==1.50.1.68
joblib==0.12.5
tensorflow==1.13.1
seaborn==0.9.0
click==7.0
filelock==3.0.12
glob2==0.7
matlab==0.1
pytest==4.6.3
retro==2.7.0
scipy==1.3.0
tf==1.0.0
