<?xml version="1.0" ?>
<model>
    <name>air_space</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>XUBO LYU</name>
        <email></email>
    </author>
    <description>This is a gazebo env model for planar quadrotr simulation</description>
</model>