<?xml version="1.0"?>
<robot name="quadrotor" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="M_PI" value="3.1415926535897931" />
    <xacro:property name="M_PI/2" value="1.5707963267945" />

    <!-- Included URDF Files -->
    <xacro:include filename="./quadrotor_base.urdf.xacro" />

    <!-- Instantiate quadrotor_base_macro once (has no parameters atm) -->
    <xacro:quadrotor_base_macro />


    <!-- Hokuyo UTM-30LX sensor -->
    <xacro:include filename="$(find hector_sensors_description)/urdf/hokuyo_utm30lx.urdf.xacro" />
    <xacro:hokuyo_utm30lx name="laser0" parent="base_link" ros_topic="scan" update_rate="40" ray_count="1081" min_angle="-90" max_angle="90">
      <origin xyz="0.0 0.0 0.15" rpy="-${M_PI} -${M_PI/2} ${M_PI/2}"/>
    </xacro:hokuyo_utm30lx>
</robot>
